/*------------------------------------------------------------------
    File Name: responsive.css
-------------------------------------------------------------------*/

@media (min-width: 992px) {
	#navbar_menu ul ul {
		background: #ddd;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
       width: 980px;
       max-width: 980px;
    }
	body {
		overflow-x: hidden;
	}
	.header_top ul li {
		font-size: 13px;
		color: #fff;
		float: left;
	}
	.header_top {
		min-height: auto;
	}
	/**== parallax slider ==**/
	/**== layout ==**/
	.margin_bottom_30 {
		margin-bottom: 30px;
	}
	.margin_bottom_20 {
		margin-bottom: 20px;
	}
	.info_cont h4 {
		margin: 0;
		font-size: 16px;
	}
	.header_bottom .info_cont h4 {
		font-size: 11px;
	}
	.header_bottom .info_cont p {
		font-size: 13px;
	}
	.header_bottom .margin_bottom_30 {
		margin-bottom: 0;
	}
	.full img {
		max-width: 100%;
	}
	header .header_top,header .header_bottom,section,footer,.bottom_footer,.light_silver {
		float: left;width: 100%;
    }
	.footer_mail-section .field {
        padding: 0;
       display: flex;
   }
   .right_section_header_top div.social_icon {
       display: none;
   }
   .product_list {
      min-height: auto;
      transition: ease all 0.5s;
      padding-bottom: 25px;
  }
  /**==img==**/
  .product_img img {
	height: 200px;
  }	
  .service_img img{
	height: 215px !important;
  }
  /**== menu css ==**/
  #navbar_menu>ul>li>a{
	font-size: 10px;
  }
}




@media (max-width: 991px) {
	#navbar_menu>ul>li>a {
		padding: 16px 14px;
		padding-right: 14px;
	}
	.menu_side {
		margin: 0;
	}
	.main_menu,
	.menu_side {
		float: right;
		width: 100%;
	}
	#navbar_menu.small-screen ul {
		width: 100%;
		display: none;
	}
	#navbar_menu.small-screen.align-center>ul {
		text-align: left;
	}
	#navbar_menu.small-screen ul li {
		width: 100%;
		border-top: 1px solid rgba(120, 120, 120, 0.2);
	}
	#navbar_menu.small-screen ul ul li,
	#navbar_menu.small-screen li:hover>ul>li {
		height: auto;
	}
	#navbar_menu.small-screen ul li a,
	#navbar_menu.small-screen ul ul li a {
		width: 100%;
		border-bottom: 0;
		color: #222 !important;
	}
	#navbar_menu.small-screen ul ul li a:hover {
		width: 100%;
		border-bottom: 0;
		color: #fff !important;
	}
	#navbar_menu.small-screen ul ul li a:focus {
		width: 100%;
		border-bottom: 0;
		color: #fff !important;
	}
	#navbar_menu.small-screen>ul>li {
		float: none;
	}
	#navbar_menu.small-screen ul ul li a {
		padding-left: 15px;
	}
	#navbar_menu.small-screen ul ul ul li a {
		padding-left: 35px;
	}
	#navbar_menu.small-screen ul ul li a {
		color: #333;
		background: none;
	}
	#navbar_menu.small-screen ul ul li:hover>a,
	#navbar_menu.small-screen ul ul li.active>a {
		color: #fff;
	}
	#navbar_menu.small-screen ul ul,
	#navbar_menu.small-screen ul ul ul,
	#navbar_menu.small-screen.align-right ul ul {
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left;
	}
	#navbar_menu.small-screen #menu-button {
		display: block;
		padding: 0;
		color: #fff;
		cursor: pointer;
		font-size: 0;
		text-transform: uppercase;
		font-weight: 600;
		width: 40px;
		height: 40px;
		border: solid #000 2px;
		border-radius: 5px;
		position: absolute;
		top: -67px;
		left: 20px;
	}
	#navbar_menu.small-screen #menu-button::after {
		position: absolute;
		top: 12px;
		right: 8px;
		display: block;
		height: 13px;
		width: 20px;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		content: '';
	}
	#navbar_menu.small-screen #menu-button::before {
		position: absolute;
		top: 17px;
		right: 8px;
		display: block;
		height: 3px;
		width: 20px;
		background: #000;
		content: '';
	}
	#navbar_menu.small-screen #menu-button.menu-opened::after {
		top: 16px;
		border: 0;
		height: 3px;
		width: 16px;
		background: #000;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		left: 10px;
	}
	#navbar_menu.small-screen #menu-button.menu-opened::before {
		top: 16px;
		background: #000;
		width: 16px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		left: 10px;
	}
	#navbar_menu.small-screen .submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid rgba(120, 120, 120, 0.2);
		height: 46px;
		width: 46px;
		cursor: pointer;
	}
	#navbar_menu.small-screen .submenu-button.submenu-opened {
		background: #262626;
	}
	#navbar_menu.small-screen ul ul .submenu-button {
		height: 34px;
		width: 34px;
	}
	#navbar_menu.small-screen .submenu-button:after {
		position: absolute;
		top: 22px;
		right: 19px;
		width: 8px;
		height: 2px;
		display: block;
		background: #333;
		content: '';
	}
	#navbar_menu.small-screen ul ul .submenu-button:after {
		top: 15px;
		right: 13px;
	}
	#navbar_menu.small-screen .submenu-button.submenu-opened:after {
		background: #ffffff;
	}
	#navbar_menu.small-screen .submenu-button:before {
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #333;
		content: '';
	}
	#navbar_menu.small-screen ul ul .submenu-button:before {
		top: 12px;
		right: 16px;
	}
	#navbar_menu.small-screen .submenu-button.submenu-opened:before {
		display: none;
	}
	#navbar_menu.small-screen.select-list {
		padding: 5px;
	}
	#navbar_menu.small-screen {
		margin: 0;
		float: left;
		height: auto;
		z-index: 3;
		position: absolute;
		width: 100%;
		left: 0;
	}
	#navbar_menu.small-screen ul {
		background: #fff;
	}
	.first-ul li i {
		display: none;
	}
	/**== search_bar ==**/
	.search_icon {
		float: left;
		margin: 0 25px 0 0;
		position: absolute;
		right: 0;
		top: -58px;
	}
	.search_icon ul li {
		float: left;
		font-size: 25px;
	}
	/**==img==**/
	.product_img img {
		height: 150px;
	  }	
	  .service_img img{
		width: 100%;
        height: 295px !important;
	}
	/**==news==**/
	.news_feature_cantant p{
		display: none;
	}
	.news_feature_cantant span::after{
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	img {
		max-width: 100%;
	}
	body {
		overflow-x: hidden;
	}
	.container {
		width: 750px;
		max-width: 750px;
	}
	.header_top ul {
		margin: 0;
		width: 100%;
		justify-content: center;
		display: flex;
	}
	.right_section_header_top .social_icon {
        display: none;
    } 
	.header_top {
		padding: 10px 0;
	}
	.logo {
		float: left;
		margin: 15px 0;
		position: relative;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.menu_side {
		float: right;
		width: 100%;
	}
	header .icon_bottom {
		margin-right: 10px;
	}
	header .header_bottom .info_cont h4 {
		font-size: 12px;
		font-weight: 500;
	}
	.header_top .col-xs-12 {
        float: left;
        width: 100%;
        max-width: 100%;
        flex: inherit;
    }
	/**== search bar == **/
	#search_bar .search-global__input {
		padding: 0 70px 23px 0 !important;
		font-size: 50px;
	}
	/**== menu == **/
	#navbar_menu.small-screen #menu-button {
        top: -74px;
    }  
	.header_bottom .information_bottom {
        margin: 15px -2px -10px;
    }
	.header_bottom {
		min-height: 90px;
	}
	/**== parallax slider ==**/
	a.btn,
	button.btn {
		min-width: 150px;
		height: 45px;
		line-height: 46px;
		font-size: 13px;
	}
	.product_detail_btm {
       padding: 15px 0 25px;
    }
	.product_detail_btm h4 {
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 15px;
   }
   .product_list {
    min-height: auto;
}
	/**== layout ==**/
	.footer_mail-section .field {
        padding: 0;
        display: flex;
    }
	.margin_bottom_30 {
		margin-bottom: 30px;
	}
	.margin_bottom_20 {
		margin-bottom: 20px;
	}
	.padding_layout_1 {
		padding-top: 90px;
		padding-bottom: 60px;
	}
	.main_heading {
		margin-bottom: 20px;
	}
	h2 {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	p {
		font-size: 13px;
	}
	/**== subscribe == **/

	/**== price table ==**/
	.info_cont h4 {
		margin: 0;
		font-size: 15px;
	}
	/**== footer ==**/
	/** white_responsive_menu **/
	/** gream_color **/
	/** inner_page **/

	.sm-center {
		text-align: center;
	}
	.center {
		align-items: center;
	}
	.news_feature_img img {
		width: 100%;
	}
	header .header_top,header .header_bottom,section,footer,.bottom_footer,.light_silver {
		float: left;width: 100%;
    }	
	.hidden-sm {
	    display: none;
	}

.price_cont p {
    padding-bottom: 12px;
    font-size: 14px;
    line-height: normal;
}
   
.cleaning .about_cont_news {
    padding: 50px;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

.about_feature_img {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
}

.about_feature_img img {
	width: 100%;
}
.service_news_inner .icon img {
    height: 325px;
}

}

@media (max-width: 767px) {
	body {
		overflow-x: hidden;
	}
	.center {
		align-items: center;
	}
	.center img {
		max-width: 100%;
	}
	/**== container ==**/
	.container {
		width: 100%;
		max-width: 100%;
		padding: 0 15px;
	}
	
	/**== header ==**/
	.header_top ul {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.header_top ul li {
		margin: 0;
		font-size: 14px;
		margin-right: 10px;
		width: 50%;
		text-align: center;
	}

	.logo {
		float: left;
		margin: 20px 0 20px;
		position: relative;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.header_bottom {
		min-height: auto;
	}
	/**== parallax slider ==**/
	/**== layout ==**/
	.padding_layout_1 {
		padding-top: 75px;
		padding-bottom: 60px;
	}
	.testmonial_section {
        padding-bottom: 135px !important;
    }
	.testimonial-meta h4 {
        margin: 5px 0;
    }
	#testimonial_slider .testimonial-meta {
        margin-top: 75px;  
    }
	.margin_bottom_30 {
		margin-bottom: 30px;
	}
	.margin_bottom_20 {
		margin-bottom: 20px;
	}
	h2 {
       font-size: 28px;
       line-height: 28px;
       margin-bottom: 20px;
    }
	h4 {
		font-size: 16px;
	}
	.padding_75 {
		padding: 40px 20px;
	}
	.only_icon_slider {
		width: 80%;
		margin: 20px 10% 45px;
	}

	.full img {
		max-width: 100%;
	}
	p.large {

    font-size: 18px;
    line-height: 24px;

    }

	/**== price table ==**/
	/**== footer ==**/
	/**== inner page ==**/
	
	.page_inform {
		padding-top: 45px;
	}
	.heading_min_small {
		font-size: 19px;
		margin: 0 0 15px 0;
	}

	.testimonial_slider_2 .testimonial_inner img {
		margin-bottom: 15px;
	}
	.brand_icons li {
		float: left;
		width: 46%;
		margin-bottom: 15px;
		margin-left: 2%;
		margin-right: 2%;
		min-height: 50px;
	}
	.testimonial_simple_say {
		padding: 50px 50px 35px;
	}
	.qoute_testimonial {
		font-size: 35px;
		position: absolute;
		margin-left: -30px;
		margin-top: -45px;
	}
	.comment_section .pull-left,
	.comment_section .pull-right {
		width: 50%;
	}
	.news_section p.comm_head a.rply {
		width: 100%;
		margin-top: 5px;
	}
	.side_bar {
		margin-top: 35px;
	}
	.news_feature_cantant {
		padding: 30px 20px;
	}
	.news_section {
		margin-bottom: 25px;
		float: left;
		width: 100%;
	}
	.news_full_width .news_feature_cantant {
		padding: 30px 20px;
	}
	.news_page_5 .news_feature_cantant {
		padding: 30px 20px;
	}
	.tab_bar .filter-button {
		text-align: center;
		width: 100%;
	}
	.info_cont {
		float: left;
		padding: 4px 0;
		width: 100%;
		margin-bottom: 15px;
	}
	.contact_information .information_bottom {
		width: 100%;
	}
	.adress_cont .information_bottom.left-side {
		width: 100%;
		float: left;
	}
	.padding_layout_2 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	/** header_style_2 **/
	.main_bg .search_icon ul li a {
		color: #000;
	}
	.main_bg #navbar_menu>ul>li>a {
		color: #000;
	}
	.main_bg {
		margin-top: 0px;
		min-height: auto;
		position: relative;
	}
	#navbar_menu li:hover>ul>li {
		background: transparent;
	}
	/** white_responsive_menu **/
	.header_style_3 #navbar_menu.small-screen #menu-button,
	.header_style_3 #navbar_menu.small-screen #menu-button::after {
		border-color: #fff;
	}
	.header_style_3 #navbar_menu.small-screen #menu-button::before,
	.header_style_3 #navbar_menu.small-screen #menu-button.menu-opened::before,
	.header_style_3 #navbar_menu.small-screen #menu-button.menu-opened::after {
		background: #fff;
	}
	.home_page_4 .simple_slider_img {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
	/** section **/
	.testimonial_qoute i {
		color: #dfdfdf;
		font-size: 65px;
	}
	.testimonial_qoute .text_align_right.testmonial_qoute i {
		margin-top: 0;
	}
	.mobile_icon {
		margin: 35px 0;
	}
	.footer_style_2 .footer_logo {
		text-align: center;
		width: 100%;
	}
	.footer_top .social_icon {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.footer_top {
		border-bottom: solid #e1e1e1 1px;
		padding-bottom: 40px;
		padding-top: 0;
		margin-bottom: 40px;
	}
	.bottom_footer {
		padding: 20px 0;
	}
	.testimonial_slider {
       box-shadow: 0 0 50px -30px rgba(0, 0, 0, 0.5);
       width: 94%;
       margin: 0 3% 35px;
    }
	.left_bottom {
		position: relative;
		bottom: 0;
		left: 0;
	}
	.right_bottom {
		position: relative;
		bottom: 0;
		right: 0;
	}
	.circle_service_layout .service_types {
		float: left;
		width: 48%;
		margin: 0 1% 15px;
	}
	.mobile_half {
		position: relative;
		bottom: 0;
		width: 100%;
	}
	.provide_qty.circle_service_layout {
		min-height: auto;
		position: relative;
		width: 100%;
	}
	.service_types.center_ser {
		top: 0;
		width: 100%;
	}
	.hidden-xs {
	   display: none;
	}
	
	/**== cross layout ==**/
	
	.gross_layout::before {
	   display: none;
	}
	
	.gross_layout::after {
	   display: none;
	}
	
	/** counter **/
	.main_heading.text_align_right::after {
       margin-right: auto;
    }
	.main_heading.text_align_left::after {
       margin-left: auto;
    }
	.main_heading.text_align_left,.main_heading.text_align_right {
       text-align: center;
    }
	
	.news_colum {
	   margin-bottom: 25px;
	   height: 100% !important;
	   width: 100% !important;
    }
	.service_news {
	margin-bottom: 30px;
	
}
.team_news_colum {
	margin-bottom: 30px;
}
	/** testimonial slider **/
	
	#testimonial_slider {
       padding-right: 0;
    }
	#testimonial_slider .testimonial-container {
       position: relative;
       padding-left: 0;
       padding-bottom: 25px;
    }
	.testimonial-container .testimonial-photo {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 25px;
   }
   .contact_us_section {
      padding: 40px 50px;
      margin-top: 20px;
      float: left;
      width: 100%;
    }
	.contact_us_section {
    padding: 25px 20px;
    float: left;
    width: 100%;
    position: relative;
}
   #map {
    height: 100%;
    min-height: 180px;
    z-index: 1;
}  
   .brand_list li {
    float: left;
    width: 100%;
    text-align: center;
    background: #f6f6f6;
    padding: 30px 0;
    margin: 0 0 20px;
   }
   
   .contact_us_section .inner_cont {
    float: left;
    width: 100%;
    padding-left: 25px;
}
   
   .contact_us_section .call_icon {

    float: left;
    width: 18px;
    position: absolute;
    top: 35px;

}
.contact_us_section .button_Section_cont {

    width: 100%;
    float: right;
    display: flex;
    justify-content: center;

}
.contact_us_section h2 {

    margin: 8px 0 5px 0;
    font-size: 27px;
    font-weight: 700;
    color: #fff;

}

.contact_us_section .inner_cont {

    margin-bottom: 10px;

}

/** product detail page **/

.product_detail_feature_img .hizoom {
    width: 100% !important;
}

.product_detail_feature_img {
    width: 100% !important;
}

.hizoom .small {
    width: 100% !important;
}

.hizoom .small img, .hizoom .big img {
    width: 100% !important;
}

.hizoom .magnifier {
	display: none !important;
}

 h2 {
    font-size: 24px;
    padding-bottom: 15px;
    margin: 35px 0 0;
}
.detail-contant .btn.sqaure_bt {
    margin: 0px 5px;
}

/** shop page **/
	
	.shopping-cart-cart {
        max-width: 100%;
        width: 100%;
        margin-top: 25px;
    }

	
	.inner_banner1 h2 {
        font-size: 30px;
    }
	

.page-title {

    font-size: 28px;
    margin-bottom: 5px;

}

.cprt p {

    line-height: 18px;

}
   /** footer **/

	
	.footer_news {
    float: left;
    width: 100%;
    padding: 50px 40px 110px 40px;
   }
   
   .cprt {
        padding-left: 0px;
    }
   /**==img==**/
  .product_img img {
	height: auto;
  }	
  .service_news_inner .icon img {
    height: auto;
}
}

@media (max-width:574px) {
	/**== new ==**/
	.news_feature_img img{
		height: auto !important;
	}
	.news_feature_cantant{
		padding-top: 0 !important;
	}
	.news_feature_cantant p{
		display: none;
	}
	.news_feature_cantant span::after{
		display: none;
	}
	/**== header ==**/
	.header_top ul {
		display: block;
	}
	.icon_rep{
		display: flex !important;
	}
	.header_top ul li {
		width: 100%;
	}
	.logo img {
		width: 150px;
	}
	.cleaning .logo img {
       height: auto;
    }
	/**== search bar ==**/
	#search_bar .search-global__input {
		font-size: 21px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0;
	}
	#search_bar .search-global__btn {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 25px;
		color: #fff;
		border: none;
		background-color: transparent;
		transition: all 0.3s;
	}
	#search_bar .search-global__input {
		font-size: 21px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0;
		padding: 3px 35px 20px 0 !important;
	}
	a.btn,
	button.btn {
		min-width: 140px;
		height: 45px;
		line-height: 46px;
		font-size: 13px;
		font-weight: 500;
	}
	/**== parallax ==**/
	/**== footer ==**/
	.testimonial_inner {
		float: left;
		padding: 40px 25px;
		background: #fff;
	}
	.tab_bar .tags li {
		float: left;
		margin: 0 1% 10px;
		width: 48%;
	}
	.testimonial_slider_2 .testimonial_inner {
		margin-bottom: 25px;
	}
	.xs-hidden {
	    display:none !important;
	}
	/**booking calendar**/
	.nao-month .month-head div {
		top: -29px !important;

	}
	.myCalendar.nao-month td {
		padding: 9px;
	}
	
}

@media (min-width:575px) and (max-width:767px) {
	
	.header_top ul li {
		text-align: left;
	}
	.header_top ul li+li {
		text-align: right;
	}
	.topbar-left {
        width: 100%;
    }
	.header_top .social_icon ul li {
        margin-right: 10px;
     }
	 #navbar_menu.small-screen #menu-button {
        top: -80px;
    }
	.search_icon {
    top: -74px;
}
	.testimonial_qoute {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}
	.testimonial_qoute .testmonial_qoute {
		margin: 0 15px;
	}
	.tab_bar .tags li {
		float: left;
		margin: 0 1% 10px;
		width: 31%;
	}
	.feature_icons {
		display: flex;
		padding-bottom: 20px;
		padding-top: 10px;
		justify-content: center;
	}
	.testimonial_slider_2 .testimonial_inner {
		margin-bottom: 25px;
	}
	.xs-hidden {
	    display:none !important;
	}
	#search_bar .search-global__input {
    padding: 5px 70px 10px 0 !important;
    font-size: 40px;
    }
	
	.testmonial_section .col-sm-7 {
    width: 100%;
    max-width: 100%;
    flex: 100%;
   }
   
	
}

@media (min-width:575px) and (max-width:767px) {

.page_inform {
    padding-top: 95px;
}
.page_inform h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
}

#search_bar .modal-body .col-md-8 {
    max-width: 90%;
    float: initial;
    margin: 0 5%;
}


.product_list {
    min-height: auto;
    padding-bottom: 30px;
}

.service_news_inner .text_align_left {
    text-align: center;
}

.service_news_inner h4.service-heading {
    text-align: center;
}

.service_news_inner p {
    text-align: center;
}

.post_commt_form {
    padding: 0 15px;
}

	
}

@media (max-width:574px) {

.right_section_header_top div.float-left {
	display: none;
}

.right_section_header_top .float-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.make_appo {
    float: right;
    margin-top: 5px;
}

.logo img {
    height: auto;
}

#navbar_menu.small-screen #menu-button {
    top: -63px;
}

#search_bar .search-global {
    position: absolute;
    top: 50vh;
    margin-top: -122px;
    width: 80%;
}

.news_feature_cantant li {
    margin-right: 10px;
}

.post_commt_form .form_section {
    padding: 0 15px;
}

.topbar-left {
    width: 100%;
}


.product_list {
    min-height: auto;
    padding-bottom: 30px;
	transition: ease all 0.5s;
}

.service_news_inner .text_align_left {
    text-align: center;
}

.service_news_inner h4.service-heading {
    text-align: center;
}

.service_news_inner p {
    text-align: center;
}


footer.footer_style_2 div.col-md-3 {
    margin-bottom: 50px;
}

@media (min-width: 992px){
	.modal-img img{
		max-width: 70% !important;
	}
}
}
