/*------------------------------------------------------------------
		File Name: style.css
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
		[Table of contents]

		1.  IMPORT FONTS
    2.  IMPORT FILES
	3.  BASIC
    4.  LOADER
	5.  HEADER
	      - Header Top 
	      - Menu 
	      - Search Bar
	      - Side Menu
		  - Fix Header
	6.  SLIDER PARALLAX
	      - Simple Parallax
	      - Slider Text
		  - Testimonial slider
	7.  SECTION
	      - Counter
		  - Form
		  - Progress Bar
		  - Pagination
	8.  SLIDER
	9.  ACCORDION
	10. PRICE TABLE
	11. INNER PAGE BANNER
	12. SIDEBAR
	     - Sidebar Search
	13. news	
         - news Detail	
	14. CASE STUDIES
	15. SHOP
    16. FOOTER
	17. CUSTOM
		
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		1. IMPORT FONTS
	-------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);

/*------------------------------------------------------------------
		2. IMPORT FILES
	-------------------------------------------------------------------*/

@import url(animate.css);
@import url(font-awesome.min.css);

/*------------------------------------------------------------------
		3. BASIC
	-------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	outline: none !important;
	box-sizing: border-box;
}

html,
body {
	background-color:#fff5f7;
	/* background-color: #f6f6f6; */
	color: #898989;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	line-height: normal;
	font-weight: 400;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}
a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0;
	font-weight: normal;
	line-height: normal;
	color: #1f1f1f;
	margin: 0
}

h6 {
	font-size: 14px;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px
}

.small_heading.main-heading h2 {
	font-size: 21px;
}

.small_heading.main-heading::after {
	top: 18px;
}

.small_heading.main-heading {
	margin-bottom: 20px;
	width: 100%;
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

ol,
ul {
	list-style: none;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
	outline: none;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.el-3{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.el-2{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_section {
	float: left;
	width: 100%;
}

a.btn,
button.btn {
	min-width: 170px;
	height: 50px;
	border-radius: 100px;
	padding: 0;
	text-align: center;
	line-height: 52px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	color: #fff;
	border: solid transform 1px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	position: relative;
	font-family: 'Poppins', sans-serif;
}

a.btn:hover,
button.btn:hover,
a.btn:focus,
button.btn:focus {
	background: #252525;
	color: #fff;
}

button.btn.white_btn,
a.btn.white_btnbutton.btn.white_btn,
a.btn.white_btn {
	background: #fff;
	padding: 0 50px;
}

.btn.sqaure_bt i {
	margin-left: 8px;
	font-weight: 600;
	top: -1px;
	position: relative;
}

.bottom_info .btn.sqaure_bt {
	margin: 0;
}

.bottom_info .pull-right {
	margin-top: 17px !important;
}

.news_grid .bottom_info .pull-right {
	margin-top: 0 !important;
}

.news_grid{
	padding-top: 15px;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.img-responsive {
	max-width: 100%;
}

figure img{
	height: 185px;
}

.img-right{
	width: 70%;
    height: auto;
}
.margin_0 {
	margin: 0 !important;
}

.padding_0 {
	padding: 0 !important;
}

h2 {
	font-size: 35px;
	color: #000;
	line-height: 36px;
	font-weight: 600;
	position: relative;
	margin-bottom: 15px;
	text-transform: uppercase;
	margin-top: 15px;
}

h3 {
	font-size: 24px;
	color: #000;
	line-height: normal;
	font-weight: 500;
	text-transform: none;
	margin-bottom: 20px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	color: #000;
	line-height: 21px;
	font-weight: 600;
	text-transform: none;
	margin: 30px 0 20px 0;
}

h5 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	line-height: normal;
	color: #000;
}

p {
	color: #707070;
	font-size: 15px;
	line-height: 21px;
}

p.large {
	color: #898989;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px 0;
}

p.large_2 {
	font-weight: 500;
	font-size: 18px;
	color: #898989;
}

button,
input,
select,
textarea,
option {
	font-family: 'Poppins', sans-serif;
}

a#submit {
	z-index: 1;
}

a:hover,
a:focus {
	color: #000;
	text-decoration: none;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10 {
	padding: 0 15px;
	float: left;
	min-height: 25px;
}

.border_radius_0 {
	border-radius: 0 !important;
}

.span1 {
	width: 10%;
}

.span2 {
	width: 20%;
}

.span3 {
	width: 30%;
}

.span4 {
	width: 40%;
}

.span5 {
	width: 50%;
}

.span6 {
	width: 60%;
}

.span7 {
	width: 70%;
}

.span8 {
	width: 80%;
}

.span9 {
	width: 90%;
}

.span10 {
	width: 100%;
}

.container {
	width: 1200px;
	max-width: 1200px;
}

.section_padding {
	padding: 80px 0 100px;
}

.layout_2_padding {
	padding: 100px 0 80px;
}

.full {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.text_align {
	text-align: justify;
}
.text_align_right {
	text-align: right;
}

.text_align_left {
	text-align: left;
	
}
.text_align_left p{
	font-size: 18px;
    line-height: 30px;
    color: #666666;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
}
.text_align_center {
	text-align: center;
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-backdrop.show {
	opacity: 1;
}


@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_more {
	color: #fff !important;
}

/** icon **/
.icon img {
	width: 60px;
	height: 90px;
    padding-top: 30px;
}
.icon_box{
	height: 250px !important;
	
}
.icon_box .product_list{
	border: solid 1px #cbcbcb;
    opacity: 1.5;
	min-height: 270px;
	background-color: rgba(255,255,255, 0.4);
	
}
.icon_box .product_list:hover{
	background-color: #fff;
}
/** end icon **/





.dark_gray {
	background-color: #111;
	min-height: 400px;
}

.dark_gray.white_fonts h2 {
	color: #17a5e9 !important;
}

.dark_gray h2 {
	color: #fff !important;
}

.white {
	background: #fff;
}


.margin_bottom_30_all {
	margin-bottom: 30px !important;
}

.margin_bottom_15 {
	margin-bottom: 15px !important;
}

.margin_bottom_0 {
	margin-bottom: 0px !important;
}

.padding_bottom_30{
	padding-bottom: 30px !important;
}
.padding_top_0{
	padding-top: 0 !important;
}

.section {
	float: left;
	width: 100%;
}

.bg_section{
	background-size: cover!important;
	background-image: url('../images/it_service/bg1.jpg');
}

.pagination>li.active a {
	color: #fff;
}

.news_colum .news_feature_img{
	height: 200px;
}
.news_feature_img img {
	width: 100%;
	height: 100%;
}

.main_heading {
	position: relative;
	margin-bottom: 65px;
}

.main_heading::after {
	content: "";
	display: block;
	margin: 20px auto 0;
	width: 80px;
	height: 5px;
	background:#f499ad;
}

.main_heading.text_align_left::after {
	margin-left: 0;
}

.main_heading.text_align_right::after {
	margin-right: 0;
}




/*------------------------------------------------------------------
		4. LOADER
	-------------------------------------------------------------------*/

.bg_load {
	float: left;
	position: fixed;
	width: 100%;
	text-align: center;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader_animation {
	animation-name: rotatey;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotatey;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotatey;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: rotatey;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: rotatey;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
}

@-webkit-keyframes rotatey {
	from {
		-webkit-transform: rotatey(0deg);
		-moz-transform: rotatey(0deg);
		-ms-transform: rotatey(0deg);
		-o-transform: rotatey(0deg);
		transform: rotatey(0deg);
	}
	to {
		-webkit-transform: rotatey(360deg);
		-moz-transform: rotatey(360deg);
		-ms-transform: rotatey(360deg);
		-o-transform: rotatey(360deg);
		transform: rotatey(360deg);
	}
}

@-moz-keyframes rotatey {
	from {
		-moz-transform: rotatey(0deg);
	}
	to {
		-moz-transform: rotatey(360deg);
	}
}


/*------------------------------------------------------------------
		5. HEADER
	-------------------------------------------------------------------*/


/*----- header fix -----*/

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


/*----- Header Top -----*/

header {
	position: relative;
	z-index: 1;
}

header .right_bt {
	float: right;
}

header .right_bt .btn {
	margin: 26px 0 0;
}

.header_top {
	min-height: 50px;
	
}

.header_bottom {
	min-height: auto;
		
}

.header_top ul {
	list-style: none;
	margin: 14px 0;
	padding: 0;
}

.header_top ul li {
	font-size: 14px;
	color: #fff;
	float: left;
}

.header_top ul li i {
	margin: 0 2px 0 0;
}

.header_top ul li i {
	color: #fff;
	transition: ease all 0.2s;
	font-size: 18px;
	margin-right: 5px;
}

.header_top .social_icon ul li a {
	color: #fff;
}


.logo {
	float: left;
	margin: 13px 0 7px;
	position: relative;
	left: 0;
}

.logo img {
    width: 250px;
    height: 66px;
}

.header_style_1 .header_top {
	position: relative;
}

.topbar-left {
	float: left;
}

.header_top .topbar-left .list-inline {
	float: left;
	margin: 13px 0;
}

.header_top ul li {
	font-size: 13px;
	color: #fff;
	float: left;
	margin-right: 20px;
}

.mechanic header#default_header {
	border-top: solid #3c5c9e 8px;
}

.header_bottom {
	position: relative;
	z-index: 9;
}


/*----- Menu -----*/

.menu_side {
	padding-right: 15px;
	float: right;
	width: auto;
}

.main_menu div#navbar_menu ul li a i {
	font-weight: 600;
}

#navbar_menu,
#navbar_menu ul,
#navbar_menu ul li,
#navbar_menu ul li a,
#navbar_menu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar_menu ul,
#navbar_menu ul li,
#navbar_menu ul li a,
#navbar_menu #menu-button {
	position: relative;
}

#navbar_menu:after,
#navbar_menu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#navbar_menu #menu-button {
	display: none;
}

#navbar_menu {
	margin: 1px 0 0 0;
	float: left;
}

#navbar_menu>ul>li {
	float: left;
}

#navbar_menu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#navbar_menu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#navbar_menu.align-center ul ul {
	text-align: left;
}

#navbar_menu.align-right>ul>li {
	float: right;
}

#navbar_menu>ul>li>a {
	padding: 15px 18px;
	font-size: 15px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
}
#navbar_menu>ul>li>a>i{
	margin-left: 5px;
}
#navbar_menu ul ul {
	position: absolute;
	left: -9999px;
}

#navbar_menu.align-right ul ul {
	text-align: right;
}

#navbar_menu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#navbar_menu li:hover>ul {
	left: auto;
}

#navbar_menu.align-right li:hover>ul {
	left: auto;
	right: 0;
}

#navbar_menu li:hover>ul>li {
	height: 45px;
}

#navbar_menu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#navbar_menu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#navbar_menu ul ul li a {
	padding: 15px 20px 15px;
	font-size: 14px;
	color: #999;
	font-weight: 500;
	background: #fff;
	color: #666 !important;
}

#navbar_menu ul ul li:last-child>a,
#navbar_menu ul ul li.last-item>a {}

#navbar_menu ul ul li:hover>a,
#navbar_menu ul ul li a:hover {
	color: #ffffff;
}

#navbar_menu ul ul {
	width: 165px;
	box-shadow: 0 5px 35px -18px #000;
	border-top: solid #000 2px;
}

#navbar_menu ul ul li a:hover,
#navbar_menu ul ul li a:focus {
	color: #fff !important;
	padding: 15px 20px 15px;
}

.nav-icon{
	height: 30px;
	font-size: 22px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.nav-icon , .nav-title{
	text-align: center;
}
.main_bg {
	margin-top: 0px;
	min-height: 70px;
	position: relative;
}


/*-- Search Bar --*/

.search_icon {
	float: left;
	margin: 38px 0px 0 15px;
}

.search_icon ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.search_icon ul li {
	float: left;
	font-size: 14px;
}

.search_icon ul li {
	float: left;
	font-size: 16px;
}

.search_icon ul li a {
	color: #000;
}

#search_bar {
	padding: 0 !important;
}

#search_bar .modal-content {
	position: relative;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

#search_bar .modal-dialog {
	width: 100%;
	padding: 0;
	margin: 0;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: translate(0, 0%);
	transform: translate(0, 0%);
	max-width: 100%;
	margin: 0;
}

#search_bar button.close {
	float: right;
	font-weight: 400;
	line-height: 1;
	color: #000;
	text-shadow: none;
	opacity: 1;
	width: 60px;
	height: 60px;
	font-size: 18px;
	background: #fff;
	margin: 0;
	position: fixed;
	right: 0;
}

#search_bar .modal-header {
	padding: 0;
	border-bottom: none;
}

#search_bar .search-global {
	position: absolute;
	top: 50vh;
	margin-top: -122px;
	width: 90%;
}

#search_bar .search-global__input {
	width: 100%;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff !important;
	background-color: transparent;
	opacity: 1;
	height: auto !important;
	padding: 0 70px 23px 0 !important;
	font-size: 65px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: -3px;
}

#search_bar .search-global__btn {
	position: absolute;
	top: 7px;
	right: 16px;
	font-size: 42px;
	color: #fff;
	border: none;
	background-color: transparent;
	transition: all 0.3s;
	cursor: pointer;
}

#search_bar .search-global__note {
	margin-top: 25px;
	font-size: 15px;
	color: #fff;
}

#search_bar *::placeholder {
	color: #fff;
	opacity: 1;
}

#search_bar .modal-body {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#search_bar .navbar-search {
	float: left;
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-open {
	padding: 0 !important;
}

.modal-backdrop.in {
	opacity: 1;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0, 0, 0, .8);
}


/*-- Side Menu --*/



/*-- Fix Header --*/

/* Calendar */
.container-calendar {
	/* margin: 150px auto;  */
	/* max-width: 480px;  */
}
.nao-month{
	border-style: groove;
	background-color: #f8f8f8;
}
.myCalendar.nao-month td {
	padding: 15px;
	border-style: ridge;
	
}
.myCalendar .month-head>div,
.myCalendar .month-head>button {
	padding: 15px;
}
.nao-month .month-head div{
	line-height: 64px !important;
	height: 50px !important;
}
/*-- header style 2 --*/

.header_bottom .info_cont h4 {
	font-size: 14px;
	font-family: poppins;
	font-weight: 500;
}

.header_bottom .information_bottom p {
	color: #737373;
	font-family: poppins;
	font-size: 14px;
}

.header_bottom .information_bottom {
	margin: 45px 0 0;
}

.main_bg #navbar_menu>ul>li>a {
	color: #fff;
}

.main_bg .search_icon ul li a {
	color: #fff;
}

header .header_top,
header .header_bottom,
section,
footer,
.bottom_footer,
.light_silver,
.bottom_silver_section {
	float: left;
	width: 100%;
}

.fb-mess{
	padding-left: 0 !important;
}

/*------------------------------------------------------------------
		6. SLIDER PARALLAX
	-------------------------------------------------------------------*/


.layer {
	position: absolute;
	display: block;
}

#l1 {
	z-index: 1;
	top: 0;
	left: 0;
}

#l2 {
	z-index: 2;
	top: 0;
	left: 0;
}

#l3 {
	z-index: 3;
	bottom: -1px;
	left: 0px;
	top: inherit !important;
}

#l4 {
	z-index: 4;
	bottom: 0;
	left: 0;
}


/** Simple Parallax **/

/** Slider Text **/


/*------------------------------------------------------------------
		7. SECTION
	-------------------------------------------------------------------*/
.main_color{
    background-repeat: no-repeat;
	background-image: url('../images/it_service/polkadots.jpg');
	background-attachment: scroll;
}

.padding_layout_0{
	padding-top: 10px;
    padding-bottom: 10px;
}

.padding_layout_1 {
	padding-top: 48px;
    padding-bottom: 63px;
}

.padding_layout_2 {
	padding-top: 85px;
	padding-bottom: 80px;
}

.padding_layout_1_small {
	padding-top: 22px;
    padding-bottom: 70px;
}

.information_bottom.left-side {
	width: auto;
	float: left;
}

.information_bottom.right-side {
	width: auto;
	float: right;
}

.information_bottom {
	float: left;
	display: flex;
	justify-content: center;
}

.info_cont h4 {
	margin: 0;
}

.info_cont p {
	color: #000;
	float: left;
	width: 100%;
	margin: 0;
}

.icon_bottom {
	width: 30px;
	margin-right: 20px;
	text-align: center;
}

.info_cont {
	float: left;
	padding: 4px 0;
}

.icon_bottom {
	width: 50px;
	margin-right: 15px;
	text-align: center;
	font-size: 30px;
	line-height: normal;
}
.icon_bottom p{
	margin-bottom: 0!important;
}
.cleaning .icon_bottom i {
	width: 50px;
	height: 50px;
	background: #146e6f;
	color: #fff;
	font-size: 20px;
	line-height: 48px;
	float: left;
}


#testimonial_slider {
	padding-right: 70px;
}

#testimonial_slider .carousel-indicators {
	position: absolute;
	right: 0;
	bottom: -45px;
	left: 0;
	z-index: 15;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: flex-start;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.testimonial-container {
	position: relative;
	padding-left: 180px;
}

.testimonial-container .testimonial-photo {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.testimonial-container .testimonial-photo img {
	border-radius: 100%;
}

.testimonial_simple_say {
	background: #f6f6f6;
	padding: 50px 100px 35px;
	margin-top: 20px;
}

.testimonial_simple_say p {
	font-size: 18px;
	line-height: normal;
	color: #000;
}

.qoute_testimonial {
	font-size: 45px;
	position: absolute;
	margin-left: -60px;
	margin-top: -40px;
}

.adress_cont .info_cont h4 {
	font-size: 14px;
	font-family: poppins;
	font-weight: 500;
}

.adress_cont .info_cont p {
	color: #737373;
}

.adress_cont>h4 {
	margin: 0 0 20px 0;
}

.adress_cont>h4+p {
	margin: 0 0 30px 0;
	font-weight: 500;
	color: #333;
}

.contant_form .form_section {
	margin-top: 30px;
}

.contact_information .information_bottom {
	display: block;
}

.contact_information {
	float: left;
	width: 100%;
	border-top: solid #e1e1e1 1px;
	border-bottom: solid #e1e1e1 1px;
	padding-top: 50px;
	padding-bottom: 60px;
	margin-top: 15px;
	margin-bottom: 70px;
}

.contact_information .icon_bottom {
	width: 100%;
}

.feature_text {
	width: 70%;
	float: left;
}

.info_cont h4,
.info_cont p {
	color: #343434;
}


/**== Counter ==**/
.margin_bottom_30 {
	margin-bottom: 30px;
}


/**== Form ==**/

input.field_custom {
	border: solid #e1e1e1 1px;
	width: 100%;
	background: #eeeeee;
	min-height: 50px;
	padding: 5px 20px;
	line-height: normal;
	border-radius: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #737373;
}

textarea.field_custom {
	border: solid #e1e1e1 1px;
	width: 100%;
	background: #eeeeee;
	min-height: 150px;
	padding: 15px 20px;
	line-height: normal;
	border-radius: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #737373;
}

.field {
	padding: 0 5px;
}


.voted{
	background-color: #eeeeee;
}

.voted textarea.field_custom{
	padding: 15px 0px;
}

.voted input.field_custom{
	padding: 15px 0px;
}

.voted textarea,input{
	border-bottom: 1px solid #ccc;
	resize: none;
}

.voted .field_custom{
	background-color: #eeeeee;
	border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    transition: all .3s;
}

.voted .center{
	padding-bottom: 10px;
}

/**== Progress Bar ==**/

.progress-bar {
	text-align: left;
	transition-duration: 3s;
}

.progress {
	height: 8px;
	border-radius: 0;
	box-shadow: none;
	background: #efeaef;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.progress-bar {
	box-shadow: none;
}

.progress_bar {
	margin: 20px 0 0 0;
}

span.skill {
	font-size: 14px;
	color: #000;
	margin-bottom: 6px;
	width: 100%;
	float: left;
}

/**== Pagination ==**/

.pagination>li>a,
.pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: 0;
	line-height: normal;
	color: #000000;
	background-color: #fff;
	border: solid #e1e1e1 1px;
	border-radius: 0;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 28px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination>li {
	display: inline;
	margin: 0 4px;
	float: left;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	z-index: 2;
	color: #222;
	background-color: #ddd;
	border-color: #ddd;
}

.pagination {
	margin: 0;
}

/*------------------------------------------------------------------
		8. SLIDER
	-------------------------------------------------------------------*/

.carousel-indicators li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	text-indent: -999px;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	background: #d5d6d6;
}

.carousel-indicators .active {
	width: 40px;
	height: 15px;
	margin: 0;
}


/**== Testimonial slider ==**/

.testimonial_slider {
	box-shadow: 0 0 50px -30px rgba(0, 0, 0, 0.5);
}

.testimonial_slider .carousel-indicators {
	bottom: -50px;
}

.testimonial_slider .carousel-control {
	width: 40px;
	height: 40px;
	background: #ebebeb;
	border-radius: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 17px;
	text-shadow: none;
	opacity: 1;
	top: 45%;
	position: absolute;
}

.testimonial_slider .carousel-control.left {
	left: -20px;
}

.testimonial_slider .carousel-control.right {
	right: -20px;
}

.testimonial_slider .carousel-control:hover,
.testimonial_slider .carousel-control:focus {
	color: #fff;
}




/*------------------------------------------------------------------
		10. PRICE TABLE
	-------------------------------------------------------------------*/

/*------------------------------------------------------------------
		11. INNER PAGE BANNER
	-------------------------------------------------------------------*/

#default_theme .banner_slider {
	min-height: 270px;
	background-image: url('../images/inner_banner_bg.png');
	background-position: center center;
}


/*------------------------------------------------------------------
		12. SIDEBAR
	-------------------------------------------------------------------*/

.side_bar h4 {
	padding-left: 10px;
	margin-top: 23px;
    margin-bottom: 15px;
}

.side_bar_news {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.post_head {
	font-weight: 600;
	margin: 0;
}

.post_head a {
	color: #000;
}

.post_head a:hover{
	color: #039ee3;
}

.post_date {
	margin-top: 5px;
	font-size: 14px;
}

.post_date i {
	position: relative;
	top: 0px;
	font-size: 13px;
}

.recent_post h4{
	font-size: 14px !important;
	padding-left: 0px !important;
}
.recent_post .post_item{
	padding-left: 0px !important;
}
.recent_post .news_feature_img{
	padding-right: 0px !important;
}
.recent_post li {
	margin-bottom: 20PX;
}

.categary {
	font-size: 15px;
}

.categary a {
	color: #000;
	transition: ease all 0.5s;
}

.categary a i {
	margin-right: 2px;
}

.categary li {
	border-bottom: 1px solid #ccc;
	transition: ease all 0.5s;
	background: #fff;
	padding: 15px 20px;
	font-weight: 600;
	font-size: 14px;
}

.categary li:hover,
.categary li:focus {
	padding-left: 30px;
	background: #039ee3;
}

.categary li:hover a,
.categary li:focus a {
	color: #fff;
}

.tags a {
	border: solid 1px #e1e1e1;
	border-radius: 50px;
	padding: 0 18px;
	float: left;
	min-height: 50px;
	line-height: 50px;
}

.tags a:hover,
.tags a:focus {
	color: #fff !important;
	border: solid #17a5e9 1px !important;
}

.tags li {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}


/**== Sidebar Search ==**/

.side_bar_search {
	padding-top: 10px;
}
.search_bt{
	width: 18%;
	float: right;
}

.btn_search{
	background-color:#f499ad;
	margin-top: 0px !important;
	border-radius: 6px !important;
}

.btn_search:hover{
	background:   #25d8ed !important;
}

.side_bar_news .input-group {
	background: #f8f8f8;
	width: 80%;
	border-radius: 6px;
	height: 50px;
	display: inline-flex;
}

.product_catery .row.margin_bottom_20_all {
	float: left;
	width: 100%;
}

.side_bar_news .input-group input.form-control {
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 15px 20px;
	height: auto;
	font-size: 14px;
}

.side_bar_news .input-group span.input-group-addon {
	border: none;
	background: transparent;
	padding: 10px 20px;
}

.side_bar_news .input-group span.input-group-addon button {
	background: transparent;
	border: none;
	font-size: 15px;
	color: #000000;
	top: 3px;
	position: relative;
}


/*------------------------------------------------------------------
		13. news
	-------------------------------------------------------------------*/
.news_title{
    top: -42px;
}
.news_title h1{
	font-size: 30px;
	font-weight: 600;
}
.news_section {
	margin-bottom: 50px;
	float: left;
	width: 100%;
}

.preview_commt,
.next_commt {
	width: 150px;
}

.news_feature_cantant.theme_color_bg {
	padding: 30px;
}

.news_feature_cantant {
	float: left;
	width: 100%;
}


.post_info {
	color: #000;
	font-size: 14px;
	margin-bottom: 10px;
	width: 100%;
}

.news_header h3{
	margin-top: 12px;
	margin-bottom: 0px;
	display: inline-block;
	font-size: 1.32rem;
}

.news_header .left{
	justify-content: space-between;
    display: flex;
	padding: 1.5rem 1.5rem 0;
}

.news_header .main_bt{
	text-shadow:none;
	color: #000;
	border: 1px solid #039ee3 !important;
	background: #fff !important;
	font-weight: 450;
	min-width: 114px;
	height: 43px;
	margin-top: 0px;
	padding: 0.9rem 2rem;
	line-height: 15px;
	border-radius: 8px;
}

.news_header .main_bt:hover{
	background-color: #039ee3 !important;
}

.news_header i{
	padding-right: 5px;
}

.news_content{
	padding: 1.5rem;
}

.news_content .product_list{
	border-bottom: 1px solid  rgb(255 255 255);
	min-height: auto;
}

.news_list {
	padding-top: 15px !important;
}

.news_content
.product_list:hover,
.product_list:focus {
	border-bottom: 1px solid rgba(204, 204, 204, 0.8) !important;
}

.news_content .main_bt{
    text-shadow: none;
    color: #000;
    border: 1px solid #f499ad !important;
    background: #fff !important;
    font-weight: 450;
    min-width: 100px;
    height: 35px;
    margin-top: 5px;
    padding: 0.6rem 2rem;
    line-height: 15px;
    border-radius: 8px;
    font-size: 12px;
}

.news_content .main_bt:hover{
	background-color: #f499ad !important;
}

.news_feature_cantant li {
	font-weight: 500;
	font-size: 14px;
	color: #039ee3;
	float: left;
	margin-right: 15px;
}
.news_feature_cantant h4{
	font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
	color: #2c4964;
	height: 42px;
	overflow: hidden;
	margin-top: 0 !important;
}

.news_feature_cantant h4:hover{
	color: #039ee3;
}

.news_feature_cantant li a {
	color: #000;
}

.news_feature_cantant li a:hover,
.news_feature_cantant li a:focus {
	color: #039ee3;
}

.news_feature_cantant p {
	margin: 10px 0 0 0;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_feature_cantant span{
	display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.news_feature_cantant span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
}
.news_section p {
	line-height: 24px;
	float: left;
	width: 100%;
}

.card-news{
	border: 1px solid rgba(204, 204, 204, 0.8);
	margin-bottom: 15px;
}

.card-news-item{
	border-width: 1px 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: initial;
    border-top-color: rgba(204, 204, 204, 0.8);
    border-right-color: rgba(204, 204, 204, 0.8);
    border-bottom-color: rgba(204, 204, 204, 0.8);
    border-left-color: initial;
    border-image: initial;
    margin: 0px !important;
}

.small-news{
	position: relative;
	min-height: 110px;
	
}

.small-news h2{
	text-transform: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.4;
}

.small-news h2:hover{
	color: #039ee3;
}

.small-news-time{
	color: #000;
	position: absolute;
    bottom: 0;
}

.align-items-center{
	-webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-items-center img{
	height: 140px;
}

.d-flex{
	display: flex!important;
}

.shr {
	float: left;
	font-weight: 600;
	margin-right: 15px;
	margin-top: 2px;
}

.post_info+p {
	margin-top: 15px;
}

.bottom_info {
	float: left;
	width: 100%;
	margin-top: 10px;
}


/**== news Detail ==**/

.comment_cantrol {
	font-size: 14px;
	font-weight: 500;
}

.comment_cantrol span {
	float: left;
	width: 100%;
	margin-top: 15px;
	font-weight: 600;
}

.comment_section {
	float: left;
	width: 100%;
	border-bottom: dotted 2px;
	padding-bottom: 25px;
	margin-top: 20px;
}

.news_section p.comm_head {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.news_section p.comm_head span {
	font-size: 12px;
	font-weight: 400;
	margin-left: 5px;
}

.news_section p.comm_head a.rply {
	float: right;
	font-weight: 400;
	text-transform: none;
}

.news_section .theme_bg p.comm_head a.rply {
	color: #fff;
}


.post_commt_form {
	float: left;
	width: 100%;
}

.post_commt_form h4 {
	padding: 0 5px;
}


/*------------------------------------------------------------------
		14. CASE EDUCATE
	-------------------------------------------------------------------*/
.educate_content
.product_list:hover,
.product_list:focus {
	box-shadow: 0 0 29px -19px #000;
	border-bottom: solid #17a5e9 0px;
}

.educate_content .text_align_left p{
	font-size: 15px;
	line-height: 21px;
	font-family: inherit;
}

.educate_service{
	display: contents;
}

.educate-bt{
	padding-top: 37px;
	padding-bottom: 14px;
}

.educate_item{
	margin-bottom: 10px;
	border: 1px solid rgba(204, 204, 204, 0.8);;
}

.educate_header{
	padding-bottom: 20px;
}

.educate_header .left {
    justify-content: space-between;
    display: flex;
    padding: 1rem 0.5rem 0;
}

.educate_header h3 {
    margin-top: 12px;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 1.32rem;
}

.educate_header .main_bt {
    text-shadow: none;
    color: #000;
    border: 1px solid #f499ad !important;
    background: #fff !important;
    font-weight: 450;
    min-width: 114px;
    height: 43px;
    margin-top: 0px;
    padding: 0.9rem 2rem;
    line-height: 15px;
    border-radius: 8px;
}

.educate_header .main_bt:hover{
	background-color: #f499ad !important;
}

.educate_service_img img{
	height: auto;
}


/*------------------------------------------------------------------
		15. SERVICE
	-------------------------------------------------------------------*/

.product_list {
	min-height: 355px;
	transition: ease all 0.5s;
}

.cleaning .product_list {
	min-height: 340px;
	transition: ease all 0.5s;
}

.product_list:hover,
.product_list:focus {
	box-shadow: 0 0 29px -19px #000;
	border-bottom: solid #17a5e9 2px;
}

.product_img {
	overflow: hidden;
	background: #f3f3f3;
}

.product_img img {
	height: 237px;
	padding: 22px;
}
.service_img img{
	height: 266px !important;
}
.cleaning .product_img img {
	padding: 0;
}

.product_detail_btm h4 {
	margin: 20px 0 10px 0;
	text-align: center;
}



.product_list:hover div.product_img img,
.product_list:focus div.product_img img {
	transform: scale(1.2);
	transition: ease all 0.5s;
}

.product_price p {
	margin: 0;
	text-align: center;
}


.new_price {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.adress_cont {
	float: left;
	width: 100%;
}

.contact_us_2 .adress_cont {
	float: left;
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-img img{
	max-width: 70% !important;
}

.starratin {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffcc00;
}

.starratin li{
	float: left;
}

.starratin span {
	color: #707070;
}


/*------------------------------------------------------------------
	17. TESTMONIAL 
	-------------------------------------------------------------------*/

.testmonial_section {
	background-image: url('../images/it_service/test_bg.jpg');
	background-size: cover;
	padding-bottom: 185px;
}

.cleaning .testmonial_section {
	background-image: url('../images/cleaning_service/test_bg.jpg');
	background-size: cover;
	padding-bottom: 185px;
}


/*------------------------------------------------------------------
		16. FOOTER
	-------------------------------------------------------------------*/

footer {
	background: #632e62;
	min-height: 375px;
	padding: 45px 0;
	position: relative;
}

.footer_logo {
	margin: 35px 0 30px;
}

footer h4 {
	margin: 0 0 25px 0;
}

.social_icon ul {
	list-style: none;
	float: left;
}

.social_icon ul li {
	display: inline;
	font-size: 15px;
	margin-right: 15px;
}

.social_icon {
	float: left;
	margin: 2px 0 0 0;
}

.footer_style_2 {
	padding: 0;
	background: #111;
}

.bottom_footer_style_2 {
	background: #f8f8f8;
}

.footer_style_2 .footer_logo {
	margin: 0;
}

.footer_news {
	float: left;
	width: 100%;
	padding: 35px 62px 31px 75px;
}

footer h2 {
	color: #eee;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 35px;
	margin-top: 0;
	letter-spacing: 0.5px;
}

.footer_news .col-md-6 {
	margin-bottom: 30px;
}

footer h2::after {
	height: 2px;
	content: "";
	margin: 0;
	display: block;
	position: relative;
	top: 7px;
}

.line1::after{
 	width: 95px;
}

.line2::after{
	width: 80px;
}

.line3::after{
	width: 180px;
}

.line4::after{
	width: 65px;
}

footer p {
	color: #fff;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;;
	line-height: 24px;
	font-weight: 500;
}

footer p a {
	color: #fff;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;;
	line-height: 24px;
	font-weight: 500;
}

.footer-menu {
	line-height: 35px;
}

.footer-menu li {
	margin: 5px 0;
}

.footer-menu li a {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

footer ul.social_icons li {
	display: inline;
}

footer ul.social_icons li a {
	float: left;
	margin-right: 15px;
	text-align: center;
	font-size: 18px;
	border-radius: 100%;
	color: #fff;
}

footer ul.social_icons {
	float: left;
	margin-top: 45px;
}

.footer_mail-section {
	margin-top: 10px;
	float: left;
}

.footer_mail-section .field input {
	border: none;
	padding: 10px 15px 9PX;
	font-size: 14px;
	font-weight: 500;
	max-width: 215px;
	width: 80%;
	
}

.footer_mail-section .field button.button_custom {
	width: 20%;
	height: 40px;
	font-size: 14px;
	padding: 8px 8px;
	border: none;
	float: right;
	color: #fff;
}

.footer_mail-section .field {
	padding: 0;
}

.footer_news .qr img{
	width: 60%;
}
/*------------------------------------------------------------------
		17. CUSTOM
	-------------------------------------------------------------------*/

.service_news_inner .icon img {
	height: 500px;
}

.service_news_inner h3.service-heading {
	margin: 25px 0 15px 0;
	text-align: center;
}

.service_news_inner p{
	text-align: center;
}

.service_news_inner {
	margin-bottom: 35px;
	margin-top: 10px;
}

.gross_layout {
	position: relative;
}


.news_feature_head h4 {
	margin: 10px 0 15px 0;
}

.contact_us_section .call_icon {
	float: left;
	width: 7%;
}

.contact_us_section .inner_cont {
	float: left;
	width: 63%;
}

.contact_us_section {
	padding: 40px 50px;
	margin-top: -75px;
	float: left;
	width: 100%;
}

.contact_us_section h2 {
	margin: 8px 0 5px 0;
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}

.contact_us_section p {
	margin: 0;
	color: #fff;
}

.contact_us_section .button_Section_cont {
	width: 30%;
	float: right;
}

.contact_us_section .button_Section_cont a {
	float: right;
	border: none;
}

#map {
	height: 100%;
	min-height: 540px;
	z-index: 1;
}

.inner_banner_section {
	background: url('../images/it_service/inner_page_banner.jpg');
	min-height: 208px;
	background-size: cover;
	/* background-position: center center; */
}

.cleaning .inner_banner_section {
	background: url('../images/cleaning_service/inner_page_banner.jpg');
	min-height: 245px;
	background-size: cover;
	background-position: top center;
}

.page-title {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 15px;
}

.breadcrumb {
	background: transparent;
	padding: 0;
	margin: 0;
	color: #fff;
}

.breadcrumb li {
	font-weight: 500;
	font-size: 15px;
}

.breadcrumb>li+li::before {
	position: relative;
	content: '\203A';
	margin: 0 10px;
	font-size: 18px;
	color: inherit;
	opacity: .7;
	display: inline-block;
}

.breadcrumb li a {
	position: relative;
	top: 1px;
	left: 0;
}

.title-holder {
	margin: 85px 0 0;
}

.padding_right_0 {
	padding-right: 0;
}

/* .about_cont_news {
	padding: 50px;
} */

.about_cont{
	padding-top: 30px;
}

.about_cont p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px !important;
}

.about_cont p a {
	color: #0275d8 !important;
}

.about_cont_news p {
	margin: 0;
	line-height: 24px;
}

.about_cont_news ul {
	margin-top: 15px;
}

.about_cont_news ul li {
	float: left;
	width: 100%;
	margin: 5px 0;
	font-size: 15px;
	color: #333;
	font-weight: 500;
}

.about_cont_news ul li i {
	margin-right: 10px;
}
.entry-title{
	font-size: 48px;
    line-height: 56px;
    color: #72466a;
    font-family: Marcellus;
    font-weight: 400;
	font-style: normal;
	font: 48px/56px 'Marcellus', serif;
    margin: 0 0 25px;
}
.widget {
	margin: 0 0 17px;
    padding: 25px;
	background: #f7f7f7;
	height: 400px;
}
.textwidget p{
	line-height: 30px !important;
}
.widget-title{
	color: #ab5da5;
	font: 24px/28px 'Marcellus', serif;
    margin: 0 0 20px;
}

.form_contant{
	margin-top: 12px;
}

.news_colum{
	height: 100%;
	text-align: justify;
    border: 1px solid #e2eefd;
    padding: 20px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}


.topbar-hightlight a {
	color: #fff;
}
.rating{
	display: flex;
	padding: 20px 20px 20px 10px;
}

.rating i {
	color: #eabe12;
	font-size: 18px;
	margin: 0 -2px;
}

.rating .m-r-1 { 
	font-weight: 500;
	color: #000;
}

.m-r-1{
	margin-right: 16px;
}

.votePoint{
	margin-right: 6px;
}

.social-icon {
	float: right;
	list-style: none;
	margin: 0;
}
.icon_rep .social-icon i:hover{
background-color: #0163d2;
}

.cart button {
	margin-left: 10px;
	margin-top: -2px;
	transition: ease all 0.5s;
}

.product_detail .tab_bar_section ul.nav.nav-tabs li a {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0 25px;
	height: 50px;
	border: none !important;
	line-height: 52px;
	background: #f3f3f3;
	border-radius: 0;
}

.product_detail .tab_bar_section ul.nav.nav-tabs li a.active {
	background: #039ee3;
	color: #fff;
}

.product_detail .tab_bar_section .nav-tabs .nav-item {
	margin-bottom: 0;
	float: left;
}

.product_detail .tab_bar_section {
	float: left;
	width: 100%;
	margin-top: 50px;
}

.product_detail .tab_bar_section .tab-content {
	float: left;
	width: 100%;
	padding: 35px 0;
}


/* .shopping-cart tr th {
	font-size: 16px;
	font-weight: 500;
	color: #333;
	text-transform: none;
}

.shopping-cart thead {
	background: #f6f6f6;
}

.shopping-cart thead th {
	padding: 18px 25px 18px !important;
}

.shopping-cart div.media a {
	padding: 0;
	margin-right: 20px;
	border: none;
	border-radius: 0;
}

.shopping-cart table tbody tr td {
	padding: 25px 0;
}


.shopping-cart td.price-cnt {
	font-size: 16px;
	font-weight: 400;
	padding-top: 32px;
	color: #333;
} */

/* .shopping-cart table tbody tr td.caupon {
	padding: 20px 0 20px;
}

.shopping-cart table tbody tr td.caupon .coupon #coupon_code {
	border: solid #ccc 1px;
	padding: 9px 15px;
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.shopping-cart .button {
	padding: 10px 15px;
	border: none;
	background: #2f2f2f;
	color: #fff;
	margin-left: -1px;
	transition: ease all 0.5s;
}

.shopping-cart .button:hover,
.shopping-cart .button:focus {
	color: #fff;
	background: #0163d2;
} */



/* .shopping-cart .media-object {
	width: auto;
	height: 110px;
	border: solid #ddd 1px;
	padding: 0;
}

.shopping-cart h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 0;
	line-height: 24px;
	font-weight: 600;
	margin-top: 30px;
} */

/* .shopping-cart table tbody tr.cart-form td {
	padding: 20px 20px 20px;
} */


/* .shopping-cart .button {
	padding: 10px 20px;
	border: none;
	background: #2f2f2f;
	color: #fff;
	margin-left: -1px;
	transition: ease all 0.5s;
	float: right;
	font-size: 13px;
	cursor: pointer;
} */

.mechanic .service_news_inner {
	text-align: center;
	background: #fff;
	padding: 35px;
	box-shadow: 10px 10px 25px -20px #000;
}

/* .shopping-cart-cart {
	max-width: 350px;
	float: right;
	background: #f8f8f8;
	padding: 25px;
	width: 100%;
} */

/* .shopping-cart-cart table {
	width: 100%;
} */

/* 
.shopping-cart-cart table tbody tr td {
	padding: 10px 10px;
}

.shopping-cart-cart h4 {
	margin-top: 0;
}

.shopping-cart-cart tbody h5 {
	text-transform: none;
	font-weight: 600;
}

.shopping-cart-cart .button {
	padding: 9px 16px;
	margin-left: 0;
	width: 100%;
}

.shopping-cart-cart h3 {
	font-weight: 500;
	text-transform: none;
	font-size: 24px;
} */

/* .shopping-cart .button {
	background: #039ee3;
	color: #fff;
}

.shopping-cart .button:hover,
.shopping-cart .button:focus {
	color: #fff;
	background: #222;
} */

.contant_form {
	float: left;
	width: 100%;
}

.adress_cont i {
	color: #039ee3;
}

.contant_form p {
	color: #333;
	font-weight: 500;
	font-size: 16px;
}

.mechanic p {
	line-height: 25px;
}

.cleaning .logo img {
	height: 95px;
}


.cleaning .product_img {
	overflow: hidden;
	background: #146e6f;
}

._2p3a{
	width: 100;
}